---
import { format } from "date-fns";
import {Image} from "@astrojs/image/components"
import type { CollectionEntry } from "astro:content";

export interface Props {
	post: CollectionEntry<"blog">
}

const {post} = Astro.props as Props;
---

<a class="blogPostCard" href={"/posts/" + post.slug}>
	<div class="imageContainer">
		<Image class="image" width={333} height={222} src={post.data.imgSrc} format={"avif"} alt={post.data.imgAlt} />
	</div>
	<div class="infoContainer">
		<h2 class="title">{post.data.title}</h2>
		<time datetime={`${format(post.data.pubDate, "yyyy-MM-dd HH:mm")}`} class="date">{format(post.data.pubDate, "MMM d, y")}</time>
		<div class="description">{post.data.description}</div>
	</div>
</a>

<style>
	.blogPostCard {
		@apply hover:translate-y-1 max-w-md mx-auto overflow-hidden rounded-md bg-slate-800
	}

	.imageContainer {
		@apply aspect-[3/2]
	}

	.image {
		@apply h-full w-full object-cover object-center
	}

	.infoContainer {
		@apply px-3 pt-4 pb-6 text-center
	}

	.title {
		@apply text-xl font-semibold
	}

	.date {
		display: block;
		@apply mt-1 text-xs text-gray-400
	}

	.description {
		@apply mt-2 text-sm
	}
</style>