---
import { format } from "date-fns";
import {Image} from "astro:assets"
import type { CollectionEntry } from "astro:content";

interface Props {
	post: CollectionEntry<"blog">
}

const {post} = Astro.props as Props;
---

<a class="blogPostCard" href={"/posts/" + post.slug}>
	<div class="imageContainer">
		<Image transition:name={post.slug} class="image" width={333} height={222} src={post.data.imgSrc} format={"avif"} alt={post.data.imgAlt} />
	</div>
	<div class="infoContainer">
		<h2 class="title">{post.data.title}</h2>
		<time datetime={`${format(post.data.pubDate, "yyyy-MM-dd HH:mm")}`} class="date">{format(post.data.pubDate, "MMM d, y")}</time>
		<div class="description">{post.data.description}</div>
	</div>
</a>

<style>
	.blogPostCard {
		max-width: 28rem;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		border-radius: 0.375rem;
		background-color: var(--color-slate-800);
	}

	.blogPostCard:hover {
		transform: translate(0, 4px);
	}

	.imageContainer {
		aspect-ratio: 3/2;
	}

	.image {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	.infoContainer {
		padding: 1rem 0.75rem 1.5rem 0.75rem;
		text-align: center;
	}

	.title {
		font-size: 1.25rem;
    	line-height: 1.75rem;
		font-weight: 600;
	}

	.date {
		display: block;
		margin-top: 0.25rem;
		font-size: 0.75rem;
		line-height: 1rem;
		color: var(--color-gray-400)
	}

	.description {
		margin-top: 0.5rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
</style>