---
import type { MarkdownInstance } from 'astro';
import type { ProjectFrontMatter } from '../utils/projects';
import { ProjectTag, tags } from '../utils/tags';
import Tag from './Tag.astro';
import {Image} from "@astrojs/image/components"

export interface Props {
	project: MarkdownInstance<ProjectFrontMatter>;
}

const {project} = Astro.props as Props;
let usedTags: ProjectTag[] = [];

for(let i: number = 0; i < project.frontmatter.tags.length; i++)
{
	if(tags[project.frontmatter.tags[i]])
	{
		usedTags.push(tags[project.frontmatter.tags[i]]);
	}
}
---

<div class="projectCard">
	<div class="imageContainer">
		<a href={project.url}>
			<Image src={project.frontmatter.imgSrc} format="avif" width={256} height={256} alt={project.frontmatter.imgAlt} class="image" />
		</a>
	</div>
	<div>
		<div class="titleContainer">
			<a href={project.url}>
				<div class="title">
					{
						project.frontmatter.title
					}
				</div>
			</a>
			<div class="tags">
				{
					usedTags.map((tag) =>
					(
						<Tag tag={tag} />
					))
				}
			</div>
		</div>
		<p class="description">
			{
				project.frontmatter.description
			}
		</p>
	</div>
</div>

<style>
	.projectCard {
		@apply bg-slate-700 flex flex-col items-center p-3 gap-x-8 rounded-md md:flex-row
	}

	.imageContainer {
		@apply shrink-0
	}

	.image {
		@apply h-36 w-36 hover:translate-y-1
	}

	.titleContainer {
		@apply flex flex-col items-center md:flex-row
	}

	.title {
		@apply font-bold text-xl
	}

	.description {
		@apply mt-4 text-gray-300
	}

	.tags {
		@apply ml-3 flex gap-2
	}
</style>