---
import type { MarkdownInstance } from 'astro';
import type { ProjectFrontMatter } from '../utils/projects';
import { ProjectTag, tags } from '../utils/tags';
import Tag from './Tag.astro';

export interface Props {
	project: MarkdownInstance<ProjectFrontMatter>;
}

const {project} = Astro.props as Props;
let usedTags: ProjectTag[] = [];

for(let i: number = 0; i < project.frontmatter.tags.length; i++)
{
	if(tags[project.frontmatter.tags[i]])
	{
		usedTags.push(tags[project.frontmatter.tags[i]]);
	}
}
---

<div class="bg-slate-700 flex flex-col items-center p-3 gap-x-8 rounded-md md:flex-row">
	<div class="shrink-0">
		<a href={project.url}>
			<img src={project.frontmatter.imgSrc} alt={project.frontmatter.imgAlt} class="h-36 w-36 hover:translate-y-1" />
		</a>
	</div>
	<div>
		<div class="flex flex-col items-center md:flex-row">
			<div>
				<a href={project.url} class="hover:text-cyan-400 no-underline">
					<div class="font-bold text-xl">
						{
							project.frontmatter.title
						}
					</div>
				</a>
			</div>
			<div class="ml-3 flex gap-2">
				{
					usedTags.map((tag) =>
					(
						<Tag tag={tag} />
					))
				}
			</div>
		</div>
		<p class="mt-4 text-gray-400">
			{
				project.frontmatter.description
			}
		</p>
	</div>
</div>