---
import { ProjectTag, tags } from '../utils/tags';
import Tag from './Tag.astro';
import {Image} from "astro:assets"
import type { CollectionEntry } from 'astro:content';

interface Props {
	project: CollectionEntry<"projects">;
}

const {project} = Astro.props as Props;
let usedTags: ProjectTag[] = [];

for(let i: number = 0; i < project.data.tags.length; i++)
{
	if(tags[project.data.tags[i]])
	{
		usedTags.push(tags[project.data.tags[i]]);
	}
}
---

<div class="projectCard">
	<div class="imageContainer">
		<a href={"/projects/" + project.slug}>
			<Image src={project.data.imgSrc} format="avif" width={256} height={256} alt={project.data.imgAlt} class="image" />
		</a>
	</div>
	<div>
		<div class="titleContainer">
			<a href={"/projects/" + project.slug}>
				<div class="title">
					{
						project.data.title
					}
				</div>
			</a>
			<div class="tags">
				{
					usedTags.map((tag) =>
					(
						<Tag tag={tag} />
					))
				}
			</div>
		</div>
		<p class="description">
			{
				project.data.description
			}
		</p>
	</div>
</div>

<style>
	.projectCard {
		background-color: var(--color-slate-700);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0.75rem;
		column-gap: 2rem;
		border-radius: 0.375rem;
	}

	@media (min-height: 768px)
	{
		.projectCard {
			flex-direction: row;
		}
	}

	.image {
		@apply h-36 w-36 hover:translate-y-1
	}

	.titleContainer {
		@apply flex flex-col items-center md:flex-row
	}

	.title {
		@apply font-bold text-xl
	}

	.description {
		@apply mt-4 text-gray-300
	}

	.tags {
		@apply ml-3 flex gap-2
	}
</style>