---
import type { ProjectTag } from '../utils/tags';

export interface Props {
	tag: ProjectTag;
}

const {tag} = Astro.props as Props;
---

<span class="tag" style={`background-color: rgb(${tag.backgroundColor.red} ${tag.backgroundColor.green} ${tag.backgroundColor.blue}); color: rgb(${tag.textColor.red} ${tag.textColor.green} ${tag.textColor.blue});`}>
	{
		tag.name
	}
</span>

<style>
	.tag {
		border-radius: 0.375rem;
		padding: 0.25rem 0.5rem;
		font-size: 0.75rem;
		line-height: 1rem;
		font-weight: 600;
	}
</style>