---
import type { ProjectTag } from '../utils/tags';

export interface Props {
	tag: ProjectTag;
}

const {tag} = Astro.props as Props;
---

<span class="tag" style={`background-color: rgb(${tag.backgroundColor.red} ${tag.backgroundColor.green} ${tag.backgroundColor.blue}); color: rgb(${tag.textColor.red} ${tag.textColor.green} ${tag.textColor.blue});`}>
	{
		tag.name
	}
</span>

<style>
	.tag {
		@apply rounded-md px-2 py-1 text-xs font-semibold
	}
</style>