---
import type { GetStaticPathsOptions, Page } from "astro";
import { type CollectionEntry, getCollection } from "astro:content";
import ProjectCard from "@components/ProjectCard.astro";
import Section from "@components/Section.astro";
import Layout from "@layouts/Layout.astro";
import { sortProjectsByDate } from "../../utils/projects";

export async function getStaticPaths({paginate}: GetStaticPathsOptions)  {
	const allProjects = await getCollection("projects");
	const sortedProjects = sortProjectsByDate(allProjects);

	return paginate(sortedProjects, {pageSize: 3});
}

interface Props {
	page: Page<CollectionEntry<"projects">>;
}

const {page} = Astro.props as Props;

const title = "Projects page " + page.currentPage;
const description = "Here you can read all about the projects I have been working on";
---

<Layout head={{ title, description }}>
  
	<Section>
		<div class="titleContainer">
			<h1 class="title">Marijn Kneppers' projects</h1>
			<div class="description">
				Here you can read all about the projects I have been working on
			</div>
		</div>
	</Section>

	<Section>
		<div class="projectList">
			{page.data.map((project) => (
				<ProjectCard project={project} />
			))}
		</div>
	</Section>
	<Section>
		<div class="projectNavContainer">
			<div class="projectNav olderProjects">
				{page.url.prev &&
					<a href={`${page.url.prev}/`}>	
						← Older projects
					</a>
				}
			</div>
			<div class="projectNavIndexes">
			{
				[...Array(page.lastPage)].map((_, index) => (
					<a href={`/posts/${(index != 0)? `${index + 1}/` : ""}`}>{index + 1}</a>
				))
			}
			</div>
			<div class="projectNav newerProjects">
				{page.url.next &&
					<a href={`${page.url.next}/`}>	
						Newer projects →
					</a>
				}
			</div>
		</div>
	</Section>

</Layout>

<style>
	.titleContainer {
		@apply text-center
	}
	.title {
		@apply text-4xl font-bold
	}
	.description {
		@apply mt-3 text-gray-200
	}
	.projectList {
		@apply grid rounded-md p-3 gap-4 bg-slate-800
	}
	.projectNavContainer {
		@apply flex justify-between
	}
	.projectNav {
		@apply w-28
	}
	.olderProjects {
		@apply hover:-translate-x-1
	}
	.projectNavIndexes {
		@apply flex justify-around w-96
	}
	.newerProjects {
		@apply hover:translate-x-1
	}
</style>