---
import BaseLayout from "@layouts/Layout.astro"
import {Image, getImage} from "astro:assets"

interface Props {
	title: string,
	description: string,
	imgSrc: ImageMetadata,
	imgAlt: string,
	slug: string
}

const {title, description, imgSrc, imgAlt, slug} = Astro.props as Props;

const image = await getImage({src: imgSrc, format: 'avif'});
---
<meta property="og:image" content={image.src} slot="head" />

<BaseLayout head={{title: title, description: description}}>
	<article id="article">
		<h1 id="title">{title}</h1>
		<slot name="after-title" />
		<div id="articleSection">
				<img transition:name={slug} src={image.src} width={256} height={205} alt={imgAlt} loading="eager" id="image" />
			<div id="articleContent">
				<slot name="article" />
			</div>
		</div>
	</article>
</BaseLayout>

<style>
	#article {
		margin-left: auto;
		margin-right: auto;
		max-width: 1024px;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	#title {
		font-size: 2.25rem;
    	line-height: 2.5rem;
		font-weight: bold;
		text-align: center;
	}

	#image {
		border-radius: 0.5rem;
		object-fit: cover;
		margin-left: auto;
    	margin-right: auto;
	}

	#articleSection {
		margin-left: auto;
		margin-right: auto;
		margin-top: 1.25rem;
		max-width: 65ch;
	}
	#articleSection :global(p) {
		margin-bottom: 1.25rem;
	}
	#articleSection :global(a) {
		color: white;
		font-weight: 500;
		text-decoration: underline;
	}
	#articleSection :global(img) {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	#articleContent {
		color: #D1D5DB;
		line-height: 1.75rem;
		font-size: 1rem;
    	line-height: 1.75rem;
	}

	#articleContent :global(blockquote) 
	{
		margin: 0em 10px;
		border-left: 5px solid #ccc;
		padding: 0.5em 10px;
	}

	#articleContent :global(li)
	{
		list-style: initial;
		margin-left: 1em;
	}

	#articleContent :global(p:last-child)
	{
		margin-bottom: 0%;
	}
</style>