---
import type { PostFrontMatter } from '../utils/posts';
import {format, parseISO} from 'date-fns'
import ArticleLayout from './ArticleLayout.astro';

export interface Props {
	content: PostFrontMatter;
}

const {content} = Astro.props as Props;
---
<ArticleLayout title={content.title} description={content.description} imgSrc={content.imgSrc} imgAlt={content.imgAlt}>
	<div slot="after-title" class="date">By Marijn Kneppers on {format(parseISO(content.pubDate), "MMM d, y")}</div>
	<slot slot="article" />
</ArticleLayout>

<style>
	.date {
		@apply text-gray-400 text-center
	}
</style>