---
import Footer from "@components/Footer.astro";
import NavBar from "@components/NavBar.astro";
import config from "../utils/config";

interface Props {
	head: {
		title: string;
		description: string;
	}
}

const { head: { title, description} } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="twitter:card" content="summary" />

		<title>{title} - {config.siteName}</title>
		<meta property="og:title" content={title} />

		<meta name="twitter:title" content={title} />
		
		<meta name="description" content={description} />
		<meta property="og:description" content={description} />
		<meta name="twitter:description" content={description} />

		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={config.author.fullName} />
		<meta name="copyright" content={config.author.fullName} />

		<meta property="og:url" content={Astro.url} />
		
		<meta property="og:site_name" content={config.siteName} />
		<meta name="twitter:site" content={config.author.twitterHandle} />

		<slot name="head" />
	</head>
	<body>
		<NavBar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: hsl(12, 5%, 4%);
		--color-border: hsl(17, 24%, 90%);

		--color-slate-900: rgb(15 23 42);
		--color-slate-800: rgb(30 41 59);

		--color-cyan-400: rgb(34 211 238);
		--color-sky-500: rgb(14 165 233);

		--color-gray-100: rgb(243 244 246);
		--color-gray-200: rgb(229 231 235);
		--color-gray-400: rgb(156 163 175);
		--color-gray-600: rgb(75 85 99);
		
		--small-min-width: 640px;
		--medium-min-width: 768px;
	}
	html {
		font-size: var(--font-size-base);
		color: var(--color-text);
		@apply bg-slate-900
	}
	body {
		@apply text-gray-100
	}
	h1 {
		font-size: var(--font-size-xl);
	}

	h2 {
		font-size: var(--font-size-lg);
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
		
		@apply bg-slate-800 pt-1 pb-1 pr-2 pl-2 border-spacing-1 rounded inline-block
	}

	pre {
		white-space: pre-wrap;
		@apply bg-slate-900
	}

	a {
		@apply hover:text-cyan-400
	}

	.gradient {
		-webkit-background-clip: text;
		@apply bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent
	}

	table {
		border: solid white 1px;
		border-spacing: 6px;
		border-radius: 6px;
		text-align: center;
	}

	th {
		@apply bg-slate-700
	}
</style>
