---
import Footer from "@components/Footer.astro";
import NavBar from "@components/NavBar.astro";
import config from "../utils/config";
import { ViewTransitions } from "astro:transitions";

interface Props {
	head: {
		title: string;
		description: string;
	}
}

const { head: { title, description} } = Astro.props as Props;

const canonical = Astro.url;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

		<link rel="canonical" href={canonical} />

		<meta name="twitter:card" content="summary" />

		<title>{title} - {config.siteName}</title>
		<meta property="og:title" content={title} />

		<meta name="twitter:title" content={title} />
		
		<meta name="description" content={description} />
		<meta property="og:description" content={description} />
		<meta name="twitter:description" content={description} />

		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={config.author.fullName} />
		<meta name="copyright" content={config.author.fullName} />

		<meta property="og:url" content={Astro.url} />
		
		<meta property="og:site_name" content={config.siteName} />
		<meta name="twitter:site" content={config.author.twitterHandle} />

		<ViewTransitions fallback="none"/>

		<slot name="head" />
	</head>
	<body>
		<NavBar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: hsl(12, 5%, 4%);
		--color-border: hsl(17, 24%, 90%);

		--color-slate-900: #0f172a;
		--color-slate-800: rgb(30 41 59);
		--color-slate-700: rgb(51 65 85);

		--color-cyan-400: rgb(34 211 238);
		--color-sky-500: rgb(14 165 233);

		--color-gray-100: rgb(243 244 246);
		--color-gray-200: rgb(229 231 235);
		--color-gray-300: rgb(209 213 219);
		--color-gray-400: rgb(156 163 175);
		--color-gray-600: rgb(75 85 99);
		
		--small-min-width: 640px;
		--medium-min-width: 768px;
	}
	img {
		height: auto;
	}
	* {
		box-sizing: border-box;
		border-width: 0;
	}
	html {
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-slate-900);
		tab-size: 4;
		font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
		font-feature-settings: normal;
		font-variation-settings: normal;
	}
	body {
		margin: 0;
		color: var(--color-gray-100);
	}
	h1 {
		font-size: var(--font-size-xl);
		line-height: 4rem;
	}

	h2 {
		font-size: var(--font-size-lg);
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	a {
		color: inherit;
		text-decoration: inherit;
	}

	ol, ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
		
		background-color: var(--color-slate-800);
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		padding-right: 0.5rem;
		padding-left: 0.5rem;
		border-spacing: 0.25rem 0.25rem;
		border-radius: 0.25rem;
		display: inline-block;
	}

	pre {
		white-space: pre-wrap;
		background-color: var(--color-slate-900);
	}

	a:hover {
		color: var(--color-cyan-400);
	}

	.gradient {
		background-image: linear-gradient(to bottom right, var(--color-sky-500), var(--color-cyan-400));
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	table {
		border: solid white 1px;
		border-spacing: 6px;
		border-radius: 6px;
		text-align: center;
	}

	th {
		background-color: var(--color-slate-700);
	}
</style>
